<% view_url ||= nil %>
<% destroy_url ||= nil %>
<% min_width = view_url.nil? ? 42 : 58 %>
<% no_turbolink ||= false %>

<% confirm_prompt ||= I18n.t('prompts.confirm') %>

<td style='min-width: <%= min_width %>px;'>
  <% if view_url %>
    <%= link_to view_url, html_options = { title: I18n.t('actions.preview'), data: { disable_with: spinner } } do %>
      <i class='fa fa-binoculars blue-link-fg' title='<%=  I18n.t('actions.preview') %>' style='color: #428bca'></i>
    <% end %>
  <% end %>
  <% if edit_url %>
    <%= link_to edit_url, html_options = { color: '#000', title: I18n.t('actions.edit', model: model_class.to_s), data: { disable_with: spinner }  } do %>
      <i class='fa fa-edit blue-link-fg' title='<%= I18n.t("actions.edit", model: model_class.to_s) %>' style='color: #428bca'></i>
    <% end %>
  <% end %>
  <% if destroy_url %>
    <%= link_to destroy_url, method: :delete, title: I18n.t('actions.delete'), data: { confirm: confirm_prompt } do %>
      <i class='fa fa-close red-fg' title='<%= I18n.t('actions.delete') %>' style='color: red'></i>
    <% end %>
  <% end %>
</td>

