<div class='row'>
  <div class='col-lg-4'>
    <% if @cart.items.empty? %>
      <h4>Nothing in cart.</h4>
    <% else %>
      <h4>Cart contents</h4>
    <% end %>
    <table class='table'>
      <tr>
        <th>Product</th>
        <td>Price</td>
      </tr>
      <% @cart.items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.price) %></td>
          <%= render partial: 'shared/actions', locals: { edit_url: nil, destroy_url: remove_from_cart_item_path(item) } %>
        </tr>
      <% end %>
      <tr>
        <th>Total</th>
        <th><%= number_to_currency(@cart.price) %>
      </tr>
    </table>
    <br />
    <% unless @cart.items.empty? %>
      <%= link_to image_tag("/uploads/images/paypal_express_checkout.gif"), checkout_cart_path(@cart), data: { disable_with: spinner } %>
    <% end %>
  </div>
  <div class='col-lg-4'>
    <h4>Available products</h4>
    <%= render partial: 'items/index', locals: { items: Item.order(:name), actions: false } %>
  </div>
</div>
