<%= simple_form_for @payment, defaults: { label_html: { style: 'width: 200px;' }, input_html: {style: 'width: 400px;' } } do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p><%= f.input :first_name %></p>
    <p><%= f.input :last_name %></p>
    <p><%= f.input :address %></p>
    <p><%= f.input :amount, as: :currency %></p>
  <div class="field">
    <%= f.hidden_field :ip %>
  </div>
  <div class="field">
    <%= f.hidden_field :express_token, value: params[:token] %>
  </div>
  <div class="field">
    <%= f.hidden_field :express_payer_id, value: params[:PayerID] %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm payment", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', edit_cart_path(@payment.cart), class: 'btn btn-warning' %>
  </div>
<% end %>
