<style>

  a.payment {
    color: #27f !important;
  }
  a.payment:hover {
    color: #00b !important;
    background-color: transparent;
  }
</style>

<h2 class='well'>Paypal payments</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Paypal ref.</th>
      <th>Paid at</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Status</th>
      <th>Amount</th>
      <th>Paypal fee</th>
      <th>Paypal status</th>
      <th>Fee breakdown</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= link_to(payment.paypal_transaction_id, payment, class: 'payment', data: {disable_with: spinner }) %></td>
        <td><%= payment.created_at.localtime.strftime("%d-%m-%y %H:%M") %></td>
        <td><%= payment.first_name %></td>
        <td><%= payment.last_name %></td>
        <td><%= payment.address %></td>
        <td><%= payment.state %></td>
        <td><%= number_to_currency(payment.amount.to_f) %></td>
        <td><%= number_to_currency(payment.paypal_fee.to_f) %></td>
        <td><%= payment.paypal_status %></td>
        <td>
          <% unless payment.paypal_fee.nil? %>
            30cts + <%= ((payment.paypal_fee - 0.30) / payment.amount * 100).round(2) %>%
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


