<h2 class='well'>Paypal transaction details for transaction id <%= @payment.paypal_transaction_id %></h2>


<% if @paypal_details.nil? %>
  <h2>No details received from payal</h2>
<% else %>
  <% @paypal_details %>
  <div class='row'>
    <div class='col-lg-6'>
      <table class='table'>
        <tr style='font-size: 1.5em;'>
          <th>Paypal field</th>
          <th>Value</th>
        </tr>
        <tr><th>result</th><td><%= @paypal_details['ack'] %></td></tr>
          <tr><th>payer</th><td><%= @paypal_details["payer"] %></td></tr>
          <tr><th>payer_id</th><td><%= @paypal_details["payer_id"] %></td></tr>
          <tr><th>payer_status</th><td><%= @paypal_details["payer_status"] %></td></tr>
          <tr><th>first_name</th><td><%= @paypal_details["first_name"] %></td></tr>
          <tr><th>last_name</th><td><%= @paypal_details["last_name"] %></td></tr>
          <tr><th>street1</th><td><%= @paypal_details["street1"] %></td></tr>
          <tr><th>city_name</th><td><%= @paypal_details["city_name"] %></td></tr>
          <tr><th>state_or_province</th><td><%= @paypal_details["state_or_province"] %></td></tr>
          <tr><th>country</th><td><%= @paypal_details["country"] %></td></tr>
          <tr><th>country_name</th><td><%= @paypal_details["country_name"] %></td></tr>
        </table>
      </div>
      <div class='col-lg-6'>
        <table class='table'>
          <tr style='font-size: 1.5em;'>
            <th>Paypal field</th>
            <th>Value</th>
          </tr>
          <tr><th>postal_code</th><td><%= @paypal_details["postal_code"] %></td></tr>
          <tr><th>payment_date</th><td><%= @paypal_details["payment_date"] %></td></tr>
          <tr><th>gross_amount</th><td><%= @paypal_details["gross_amount"] %></td></tr>
          <tr><th>gross_amount_currency_id</th><td><%= @paypal_details["gross_amount_currency_id"] %></td></tr>
          <tr><th>fee_amount</th><td><%= @paypal_details["fee_amount"] %></td></tr>
          <tr><th>fee_amount_currency_id</th><td><%= @paypal_details["fee_amount_currency_id"] %></td></tr>
          <tr><th>exchange_rate"</th><td><%= @paypal_details["exchange_rate"] %></td></tr>
          <tr><th>payment_status</th><td><%= @paypal_details["payment_status"] %></td></tr>
          <tr><th>pending_reason</th><td><%= @paypal_details["pending_reason"] %></td></tr>
          <tr><th>quantity</th><td><%= @paypal_details["quantity"] %></td></tr>
        <tr>
      </table>
    </div>
  </div>
<% end %>
