<%= simple_form_for @item, defaults: { label_html: { style: 'width: 200px;' }, input_html: {style: 'width: 400px;' } } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :price %>
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', items_path, class: 'btn btn-warning' %>
  </div>
<% end %>
