<table class='table'>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th></th>
  </tr>

  <% items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= number_to_currency(item.price) %></td>
      <% if actions %>
        <%= render partial: 'shared/actions', locals: { model_class: Item, edit_url: edit_item_path(item), destroy_url: item_path(item) } %>
      <% end %>
      <td>
        <%= link_to add_to_cart_item_path(item), title: 'Add to cart' do %>
          <i class='fa fa-shopping-cart' style='color: green;'></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
