<h2 class='well'>Products</h2>
<%= link_to 'New Item', new_item_path, class: 'pull-right btn btn-primary' %>

<div class='row'>
  <div class='col-lg-6'>
    <%= render partial: 'items/index', locals: { items: @items, actions: true } %>
  </div>
</div>
