<head>

  <!-- Typekit fo ts -->
  <!--
  <script src="https://use.typekit.net/yzd7hhb.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>'Payl Test App'</title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag :application %>

  <!-- Google Maps -->

  <%= csrf_meta_tags %>

</head>
