<style>
  li .separated {
    border-top: solid 1px #aaa;
  }
</style>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style='border-width: 0'>
  <div class="navbar-header">
    <div class="collapse navbar-collapse" id="collapse-main-menu">
      <ul class="nav navbar-nav top-menu" style='width: 100%'>
        <%= render partial: 'layouts/admin_menu_link', locals: { path: root_path, label: 'Home', icon: 'fa-home' } %>
        <%= render partial: 'layouts/admin_menu_link', locals: { path: items_path, label: 'Products', icon: 'fa-list' } %>
        <%= render partial: 'layouts/admin_menu_link', locals: { path: payments_path, label:  'Payments', icon: 'fa-indent' } %>
        <%= render partial: 'layouts/admin_menu_link', locals: { path: edit_cart_path(Cart.mine), label: 'My Cart', icon: 'fa-indent' } %>
      </ul>
    </div>
  </div>
</nav>

<script>
  $('.dropdown-toggle').dropdown()
</script>
