<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/html_head' %>

  <body>
    <div id='wrap'>
      <div class="container" style=' background-color: white; padding-right: 1%'>
        <div class="col-lg-12" style='margin-top: 70px;'>
          <%= render 'layouts/menu' %>
          <%= bootstrap_flash %>
        </div>
        <div class='row'>
          <div class="col-lg-12">
            <%= yield %>
          </div><!--/col-->
        </div>
      </div>
    </div>

  </body>
</html>
